.ajax-loader-parent {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.ajax-loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(205,205,205,.5);
  z-index: 100;
}

.ajax-loader-block {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}